@font-face {
	font-family: 'Zilla Slab';
	src: url('ZillaSlab-Bold.woff2') format('woff2'),
		url('ZillaSlab-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
